body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color:#3e3f3f;
    line-height: 1.6;
    background-color: #eff0f2;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 106px);
    background-color: #eff0f2;
}

.intro__inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.intro__inner img {
    position: absolute;
    display: block;
    right: 0;
    bottom: -130px;
}

.intro__title {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow:dimgrey 3px 3px 5px;
    color: #505050;
    margin-bottom: 150px;
}

.intro__title span{
    background-color: #aeece8;
    display: inline-block;
    padding: 0 15px;
}

/*Header*/
.header {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #eff0f2;
    padding-top: 65px;
}

.header__logo {
    font-size: 16px;
    font-weight: bold;
    padding: 2px 8px;
    color: #000000;
    text-transform: uppercase;
    border: 6px solid #000000;
    display: inline-block;
}

.header__logo span{
    color:#77efe5;
}

/*Button*/
.btn {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 8px 45px;
    font-size: 18px;
    font-weight: regular;
    text-decoration: none;
    border: 3px solid #777879;
    color: #69696a;
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color:#696969;
    color:#f0fff0;
}
